<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listing suplier details</title>
</head>
<body>
    <% for(s of suplier) { %>
        Suplier Name: <%= s.suplierName %> <br><br>
        Suplier Code: <%= s.suplierCode %> <br><br>
        <a href="/suplier/<%= s._id %>/edit">Edit</a><br>
        <form method="post" action="/suplier/<%= s._id %>?_method=DELETE">
        <button>Delete</button>
        </form>
        <hr>
    <% } %>
</body>
</html>