<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pay pending</title>
</head>
<body>
    <form method="post" action="/paypending">
        <input type="text" placeholder="Enter Name" name="custname">
        <input type="number" placeholder="Enter Amount" name="amount">
        <button>Upadate</button>
    </form>
</body>
</html>