<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/customer">
        <input type="text" placeholder="Customer Name" name="custname"><br><br>
        <input type="text" placeholder="Mobile Number" name="custnumber"><br><br>
        <button>Add</button>
    </form>
</body>
</html>